<!DOCTYPE html>
<html lang="en">
  <%- include('./includes/head', {title: "Home"}) %>
<body>

<nav class="sidebar">
  <a href="/birds/new">New Entry</a>
  <a href="/welcome">Static HTML</a>
</nav>

<div class="content">
  <h1>Discover Entries</h1>

  <div class="Entry">
    <% if (entries.length > 0) { %>
      <% entries.forEach(entry => { %>
        <div class="box">
          <a href="/birds/<%= entry.slug %>"> <%= entry.name %> </a>
          <% if (entry.imagePath) { %>
            <img src="<%= entry.imagePath %>" alt="<%= entry.name %>">
          <% } %>
          <p class="info"><strong>Posted by:</strong> <%= entry.user %></p>
          <p class="date"><strong>Date:</strong> <%= entry.date.toLocaleDateString() %> at <%= entry.time %></p>
        </div>
      <% }) %>
    <% } else { %>
      <p>No entries found.</p>
    <% } %>
  </div>
</div>

</body>
</html>
